.header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  height: auto;
  padding: 0 5%;
  background-color: white;
  color: #444;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .header {
    max-height: 300px;
  }
}

.logo-wrapper {
  position: relative;
  display: block;
  width: 130px;
  height: 100%;
  z-index: 9;
}

.logo {
  width: 100%;
  height: auto;
}

.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  width: 100%;
}

.nav li.current a {
  color: #2e7840;
  font-weight: bold;
}

.nav li a {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100%;
  text-decoration: none;
  color: #444;
  font-family: "Raleway", sans-serif;
}

.nav li a:hover {
  color: #2e7840;
}
