.tarifas-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  margin-bottom: 30px;
  color: #348a49;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.que-incluye {
  background-color: #348a49;
  color: white;
  padding: 90px;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: justify;
}

.que-incluye h6 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.lista-tarifas {
  padding: 40px 100px;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .lista-tarifas,
  .que-incluye {
    padding: 40px;
  }
}

.paquetes-banner {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.paquetes-banner .overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
}

.paquetes-banner .paquetes-banner-info {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.paquetes-banner .paquetes-banner-info h5 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.paquetes-banner .paquetes-banner-info p,
.paquetes-banner .paquetes-banner-info a {
  text-align: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}

span {
  font-size: 17px;
  text-decoration: underline;
}
