.participantes-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  margin-bottom: 30px;
  color: #348a49;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.card {
  border: none;
}

.card-header {
  background-color: transparent;
  color: #444;
}

.card .btn-link {
  color: #3283ad;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.card .card-body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
