.paquetes-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  margin-bottom: 30px;
  color: #348a49;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.paquetes-subtitle {
  margin-bottom: 40px;
}

* {
  font-family: "Montserrat", sans-serif;
}

.paquete-type {
  background-color: #348a49;
  color: white;
  min-height: 300px;
}

.paquete-type h5 {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  font-size: 35px;
}

.paquete-type h6 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
  text-align: right;
}

.paquete-description {
  background-color: #1c4826;
  min-height: 300px;
  color: white;
  display: flex;
  justify-content: center;
}

.paquete-description p {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
