.Countdown {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  z-index: 9999;
}

.Countdown-col {
  display: inline-block;
}

.Countdown-col-element {
  display: inline-block;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
}

.Countdown-col-element strong {
  font-size: 30px;
  color: #444;
}

.Countdown-col-element span {
  font-size: 17px;
  color: #444;
}
