.etapas-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  margin-bottom: 30px;
  color: #348a49;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.etapa-info {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  height: 100%;
  padding: 50px;
}

.etapa-datos {
  display: flex;
  flex-flow: row nowrap;
}

.etapa-datos p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  color: #348a49;
  font-size: 13px;
  padding: 0 10px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.etapa-datos p:first-of-type {
  padding: 0;
}

.etapa-info-text {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.etapa-info h5 {
  color: #3283ad;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.img-etapa1 {
  margin-left: -15px;
}

.img-etapa2 {
  margin-right: -15px;
}

.img-etapa3 {
  margin-left: -15px;
}
