.hero img {
  margin-left: -15px;
}

.hero-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 480px;
  height: 100%;
  padding: 20px;
  color: white;
}

.hero-content-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.hero-content-subtitle {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.btn-inscription {
  background-color: #444;
  color: white;
  transition: 0.5s all ease;
  border: none;
}

.btn-inscription:hover {
  background-color: #333;
  border: none;
}

.Home-countdown .Countdown {
  position: relative;
  left: unset;
  transform: unset;
  display: flex;
  flex-shrink: 1;
  flex-flow: row;
  justify-content: space-between;
  flex-basis: 100%;
}

.Home-countdown .Countdown .Countdown-col {
  width: 22%;
}

.Home-countdown .Countdown .Countdown-col-element {
  width: 80px;
}

.Home-countdown .Countdown-col-element span {
  font-size: 3vmin;
}

.Home-pager {
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  transform: translateX(0px);
}

.Home-pager .Home-pager-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 100%;
  color: white;
  padding: 50px;
  font-family: "Montserrat", sans-serif;
}

.Home-pager .Home-pager-link:hover {
  text-decoration: none;
  opacity: 0.5;
}

.Home-pager .Hover-pager-link:hover .Home-pager-arrow {
  transition: transform ease-in 0.1s;
  transform: scale(1.1);
}

.Home-pager .Home-pager-title {
  font-size: 18px;
  font-weight: 400;
  width: 80%;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.Home-pager .Home-pager-subtitle {
  color: #2e7840;
  width: 80%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.Home-pager .Home-pager-arrow-wrapper {
  position: absolute;
  right: 30px;
  top: 45px;
}

.Home-pager .Home-pager-arrow {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2e7840;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;
}

.description {
  font-family: "Montserrat", sans-serif;
  padding: 100px 40px;
  text-align: center;
}

.description-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  margin-bottom: 30px;
  color: #348a49;
}

.image-grid .img-wrapper {
  height: 300px;
  overflow: hidden;
}

.img-wrapper img {
  object-fit: cover;
  object-position: center;
}

.video {
  margin-bottom: 35px;
}

.gps-guided {
  padding: 1rem;
  margin-top: 6rem;
  font-family: "Sedgwick Ave", cursive;
  font-size: 5rem;
  font-weight: bold;
  color: black;
  line-height: 1;
}
