.reglamento-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  margin-bottom: 30px;
  color: #348a49;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
}
