.categorias-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  margin-bottom: 30px;
  color: #348a49;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

* {
  font-family: "Montserrat", sans-serif;
}

li {
  margin-bottom: 5px;
}

.categorias-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  margin-bottom: 30px;
  color: #348a49;
  text-align: center;
  font-size: 2rem;
}

.categorias-subtitle {
  margin-bottom: 40px;
}

* {
  font-family: "Montserrat", sans-serif;
}

.categoria-type {
  background-color: #3283ad;
  color: white;
  min-height: 300px;
}

.categoria-type h5 {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  font-size: 35px;
}

.categoria-type h6 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
  text-align: right;
}

.categoria-description {
  background-color: #124660;
  min-height: 300px;
  color: white;
  display: flex;
  justify-content: center;
}

.categoria-description p {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
